Content-Security-Policy: default-src 'self';
  script-src 'nonce-NWo2+pmewRLPWqpsgv6J2w==';
  style-src 'nonce-NWo2+pmewRLPWqpsgv6J2w==';
  object-src 'none';
  img-src 'self' api.adorable.io;
  font-src 'self' fonts.gstatic.com;
  block-all-mixed-content; report-uri /csp-report;