Content-Security-Policy: default-src 'self'; 
  script-src 'nonce-izKBC1BzwNf7pr5LlAeLtw=='; 
  style-src 'nonce-izKBC1BzwNf7pr5LlAeLtw=='; 
  object-src 'none'; 
  font-src 'nonce-izKBC1BzwNf7pr5LlAeLtw==' fonts.gstatic.com; 
  block-all-mixed-content; 
  report-uri /csp-report;